<div class="offer-section">
  <div class="section-header">
    <h3 class="section-title">Aktualne promocje</h3>
    <button *ngIf="isOwner" class="btn-add" (click)="startNew()">
      <i class="fas fa-plus"></i> Dodaj promocje
    </button>
  </div>

  <div class="offers-container">
    <ng-container *ngIf="offers.length; else noOffers">
      <div class="offer-card" *ngFor="let o of offers">
        <div class="offer-dates">
          <span>Start: {{ o.startDate | date:'short' }}</span>
          <span>Koniec: {{ o.endDate | date:'short' }}</span>
        </div>
        <div class="offer-description">{{ o.description }}</div>
        <div class="offer-flash" *ngIf="flashOffersMap[o.id]">
          <img *ngIf="flashOffersMap[o.id]?.flash?.picture"
            [src]="'data:image/png;base64,' + flashOffersMap[o.id]?.flash?.picture" alt="flash" />
          <span *ngIf="flashOffersMap[o.id]?.percentOff">Rabat: {{ flashOffersMap[o.id]?.percentOff }}%</span>
        </div>

        <div class="action-buttons" *ngIf="isOwner">
          <button class="edit-btn" (click)="startEditOffer(o)">
            <i class="fas fa-pen"></i>
          </button>
          <button class="delete-btn" (click)="delete(o.id)">
            <i class="fas fa-trash"></i>
          </button>
        </div>
      </div>
    </ng-container>

    <ng-template #noOffers>
      <p class="no-offer-message">Brak aktualnych promocji</p>
    </ng-template>

    <div class="offer-card editing-card" *ngIf="editingForm" [formGroup]="editingForm">
      <div class="offer-dates">
        <input type="datetime-local" class="form-control" formControlName="startDate" [min]="todayDate">
        <input type="datetime-local" class="form-control" formControlName="endDate" [min]="todayDate">
      </div>

      <div class="error" *ngIf="startDate?.touched && startDate?.invalid">
        <span *ngIf="startDate?.errors?.['required']">Data rozpoczęcia jest wymagana</span>
        <span *ngIf="startDate?.errors?.['notFuture']">Data musi być w przyszłości</span>
      </div>

      <div class="error" *ngIf="endDate?.touched && endDate?.invalid">
        <span *ngIf="endDate?.errors?.['required']">Data zakończenia jest wymagana</span>
      </div>

      <div class="error" *ngIf="editingForm.errors?.['endBeforeStart']">
        <span>Data zakończenia musi być późniejsza niż data rozpoczęcia</span>
      </div>

      <div class="description-container">
        <textarea #autoResize class="form-control auto-expand" formControlName="description" placeholder="Opis promocji"
          rows="1" (input)="adjustHeight(autoResize)">
        </textarea>

        <div class="error"
          *ngIf="editingForm.get('description')?.touched && editingForm.get('description')?.hasError('required')">
          Opis nie może być pusty
        </div>

        <div class="error"
          *ngIf="editingForm.get('description')?.touched && editingForm.get('description')?.hasError('minlength')">
          Minimalnie 5 znaków
        </div>

        <div class="error"
          *ngIf="editingForm.get('description')?.touched && editingForm.get('description')?.hasError('maxlength')">
          Maksymalnie 500 znaków
        </div>
      </div>

      <div class="flash-picker">

        <label class="flash-label">Flash</label>

        <div class="flash-display" (click)="toggleFlashList()">
          <img *ngIf="selectedFlash" [src]="'data:image/jpeg;base64,' + selectedFlash.picture" alt="Flash" />
          <span *ngIf="!selectedFlash">Wybierz flash...</span>
        </div>

        <div class="flash-list" *ngIf="flashListOpen">
          <div class="flash-item" *ngFor="let f of flashes" [class.selected]="selectedFlash?.id === f.id"
            (click)="selectFlash(f)">
            <img [src]="'data:image/jpeg;base64,' + f.picture" alt="Flash preview" />
          </div>
        </div>

        <button *ngIf="selectedFlash" class="clear-flash-btn" (click)="clearFlash()">Usuń wybór</button>

      </div>

      <div class="discount-wrapper">
        <label for="percentOff">Rabat (%)</label>
        <input type="number" formControlName="percentOff" id="percentOff" min="0" max="100" />
        <div class="error"
          *ngIf="editingForm.get('percentOff')?.touched && editingForm.get('percentOff')?.hasError('min')">
          Minimalnie 1 %
        </div>

        <div class="error"
          *ngIf="editingForm.get('percentOff')?.touched && editingForm.get('percentOff')?.hasError('max')">
          Maksymalnie 100 %
        </div>
      </div>

      <div class="action-buttons">
        <button class="btn-save" (click)="save()">✔</button>
        <button class="btn-cancel" (click)="cancel()">✖</button>
      </div>
    </div>
  </div>
</div>