
.offer-section {
  background: #1e1e1e;
  padding: 1.5rem;
  border-radius: 16px;
  border: 1px solid #333;
  margin-top: 2rem;
  color: #f5f5f5;
}

.offer-section h3 {
  margin: 0 0 1rem 0;
  font-size: 1.3rem;
  font-weight: bold;
  color: #f0f0f0;
}

.offer-section .btn-add{
  font-size: 0.85rem;
  padding: 4px 10px;
  border-radius: 6px;
  border: 1px solid #cfcfcf;
  color: #f0f0f0;
  background: transparent;
  transition: all 0.2s;
}

.offer-section .btn-add:hover {
  background: #e7e7e7;
  color: #fff;
}

.offer-section .table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  font-size: 0.9rem;
  word-wrap: break-word;
}

.offer-section .table td:nth-child(3) {
  white-space: normal;  
  word-wrap: break-word;   
  word-break: break-word;   
  max-width: 250px;         
}

.offer-section .table thead {
  background: #2b2b2b;
}

.offer-section .table th,
.offer-section .table td {
  padding: 0.75rem;
  text-align: left;
  border-bottom: 1px solid #333;
}

.offer-section .table th {
  font-weight: bold;
  color: #ccc;
  font-size: 0.85rem;
  text-transform: uppercase;
}

.offer-section .table tr:hover {
  background: #2a2a2a;
}

.offer-section input.form-control {
  background: #2b2b2b;
  border: 1px solid #444;
  color: #f5f5f5;
  border-radius: 6px;
  padding: 0.4rem;
}

.offer-section .btn {
  border: none;
  padding: 4px 8px;
  border-radius: 6px;
  cursor: pointer;
  gap: 20px;
}

.action-buttons {
  display: flex;
  gap: 0.6rem;
  
}

.edit-btn,
.btn-save {
   padding: 6px 12px;
  border-radius: 6px;
  border: none;
  font-size: 0.9rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  color: #e0bb13;
  background-color: #6b6a6a;
  
}
.edit-btn:hover,
.btn-save:hover {
  background: #e0a800;
  color: #fff;
}

.delete-btn,
.btn-cancel {
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  font-size: 0.9rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  color: #fff;
  background-color: #6b6a6a;
}
.delete-btn:hover,
.btn-cancel:hover {
  background: #c82333;
}