<div class="tattoo-me">

  <div class="filters">
    <input type="text" 
    placeholder="Szukaj po nazwie lub opisie..."
    [(ngModel)]="searchText"
    (ngModelChange)="applyFilters()" 
    />

    <input type="text"
    placeholder="Filtruj po mieście"
    [(ngModel)]="filterCity"
    (ngModelChange)="applyFilters()"
    />

    <select [(ngModel)]="sortOption">
      <option value="name-asc">Nazwa A-Z</option>
      <option value="name-desc">Nazwa Z-A</option>
      <option value="rate-desc">Najwyższa ocena</option>
      <option value="rate-asc">Najniższa ocena</option>
      <option value="reviews-desc">Najwięcej opinii</option>
      <option value="reviews-asc">Najmniej opinii</option>
    </select>
    <button type="button" (click)="applyFilters()" class="btn-apply">
      Zastosuj
    </button>
  </div>

  <section class="tm-list">
    <article class="tm-card" *ngFor="let studio of filteredStudios | paginate: {
      itemsPerPage: 5,
      currentPage: p,
      totalItems: filteredStudios.length
    }">

      <div class="avatar">
        <img *ngIf="studio.profilePicture" [src]="'data:image/jpeg;base64,' + studio.profilePicture" class="avatar-img"
          alt="Studio avatar" />

        <div *ngIf="!studio.profilePicture" class="avatar-placeholder">
          Brak zdjęcia
        </div>
      </div>

      <div class="info" [routerLink]="['/studio', studio.id]">
        <h2 class="nickname">{{ studio.name }}</h2>

        <div class="meta">
          <span class="rating">
            ★ {{ studio?.averageRate | number:'1.2-2' }} ({{ studio?.reviewsCount }})
          </span>
        </div>

        <p class="description" *ngIf="studio.description">
          {{ studio.description | slice:0:250 }}{{ studio.description.length > 250 ? '...' : '' }}
        </p>
        <p class="promo">promo</p>
      </div>
    </article>
  </section>

  <pagination-controls
    (pageChange)="p = $event"
    [autoHide]="true" 
    previousLabel="‹ Prev"
    nextLabel="Next ›">
  </pagination-controls>
</div>