<div class="tattoo-me">

  <div class="filters">
    <input type="text" placeholder="Szukaj po nazwie lub opisie..." [(ngModel)]="searchText"
      (ngModelChange)="applyFilters()" />

    <input type="text" placeholder="Filtruj po mieście" [(ngModel)]="filterCity" (ngModelChange)="applyFilters()" />

    <select [(ngModel)]="sortOption" (change)="applyFilters()">
      <option value="name-asc">Nazwa A-Z</option>
      <option value="name-desc">Nazwa Z-A</option>
      <option value="rate-desc">Najwyższa ocena</option>
      <option value="rate-asc">Najniższa ocena</option>
      <option value="reviews-desc">Najwięcej opinii</option>
      <option value="reviews-asc">Najmniej opinii</option>
    </select>
  </div>

  <section class="tm-list">
    <article class="tm-card" *ngFor="let studio of filteredStudios | paginate: {
      itemsPerPage: 5,
      currentPage: p,
      totalItems: filteredStudios.length
    }">
      <div class="avatar">

        <div * class="avatar-placeholder">Brak zdjęcia</div>
      </div>

      <div class="info" [routerLink]="['/studio', studio.id]">
        <h2 class="nickname">{{ studio.name }}</h2>

        <div class="meta">

        </div>

        <p class="description">desc</p>
        <p class="promo">promo</p>
      </div>
    </article>
  </section>

  <pagination-controls
    (pageChange)="p = $event"
    [autoHide]="true"
    previousLabel="‹ Prev"
    nextLabel="Next ›">
  </pagination-controls>

</div>