<div class="date-list">
  <div class="section-header">
    <h3 class="section-title">Wolne terminy</h3>

    <button *ngIf="isOwner" class="btn-add" (click)="openNew()">
      <i class="fas fa-plus"></i> Dodaj termin
    </button>
  </div>

  <div class="slots-with-add">
    <ng-container *ngIf="slots?.length; else noSlots">
      <div class="slots-grid">
        <div *ngFor="let slot of (showAll ? slots : slots | slice:0:5)" class="slot-card" [ngClass]="{
       'active': slot.available && !slot.reserved,
       'inactive': !slot.available && !slot.reserved,
       'reserved': slot.reserved
     }">

          <div class="slot-time">
            {{ slot.dateTime | date: 'medium' }}
          </div>

          <div *ngIf="slot.reserved" class="reserved-label">
            Zarezerwowany
          </div>

          <button *ngIf="!isLoggedIn" class="reservation-btn" [routerLink]="['/login']">
            Zarezerwuj
          </button>

          <button *ngIf="isLoggedIn && !isOwner && slot.available" class="reservation-btn" (click)="book(slot)">
            Zarezerwuj
          </button>

          <div *ngIf="isOwner && !slot.reserved" class="owner-buttons">
            <button class="delete-btn" (click)="delete(slot.id)">Usuń</button>
            <button class="btn-toggle" [ngClass]="slot.available ? 'deactivate' : 'activate'" (click)="toggle(slot.id)">
              {{ slot.available ? 'Dezaktywuj' : 'Aktywuj' }}
            </button>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-template #noSlots>
      <p class="no-slots-message">Brak wolnych terminów</p>
    </ng-template>
  </div>

  <div *ngIf="isNewOpen" class="new-slot-form">
    <input type="datetime-local" [formControl]="slotForm.controls.dateTime" [min]="todayDate">

    <div class="error" *ngIf="dateTime?.touched && dateTime?.invalid">
      <span *ngIf="dateTime?.errors?.['required']">Data rozpoczęcia jest wymagana</span>
      <span *ngIf="dateTime?.errors?.['notFuture']">Data musi być w przyszłości</span>
    </div>

    <button class="btn save-btn" (click)="saveNew()">Zapisz</button>
    <button class="btn cancel-btn" (click)="closeNew()">Anuluj</button>
  </div>

  <div *ngIf="slots.length > 5" class="text-center mt-3">
    <button class="more-btn" (click)="showAll = !showAll">
      {{ showAll ? 'Pokaż mniej' : 'Pokaż więcej' }}
    </button>
  </div>
</div>

<app-visit *ngIf="showVisitModal" [artistId]="userId" [studioId]="studioId" [artistDateId]="selectedSlotId"
  (close)="showVisitModal = false">
</app-visit>