<div class="date-list">
  <div class="section-header">
    <h3 class="section-title">Wolne terminy</h3>
    <button *ngIf="isOwner" class="btn-add" (click)="openNew()"><i class="fas fa-plus"></i> Dodaj termin</button>
  </div>
  <div class="slots-with-add">
    <div class="slots-grid" *ngIf="slots?.length">
      <div *ngFor="let slot of (showAll ? slots : slots | slice:0:5)" class="slot-card"
        [class.unavailable]="!slot.available">

        <div class="slot-time">
          {{ slot.dateTime | date: 'medium' }}
        </div>

        <button *ngIf="!isOwner && slot.available" class="reservation-btn" (click)="book(slot)">
          Zarezerwuj
        </button>

        <div *ngIf="isOwner" class="owner-buttons">
          <button class="delete-btn" (click)="delete(slot.id)">Usuń</button>
          <button class="btn-toggle" [ngClass]="slot.available ? 'deactivate' : 'activate'" (click)="toggle(slot.id)">
            {{ slot.available ? 'Dezaktywuj' : 'Aktywuj' }}
          </button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="isNewOpen" class="new-slot-form">
    <input type="datetime-local" [formControl]="slotForm.controls.dateTime">
    <button class="btn save-btn" (click)="saveNew()">Zapisz</button>
    <button class="btn cancel-btn" (click)="closeNew()">Anuluj</button>
  </div>

  <div *ngIf="slots.length > 5" class="text-center mt-3">
    <button class="more-btn" (click)="showAll = !showAll">
      {{ showAll ? 'Pokaż mniej' : 'Pokaż więcej' }}
    </button>
  </div>
</div>

<app-visit *ngIf="showVisitModal" [artistId]="userId" [artistDateId]="selectedSlotId"
  (close)="showVisitModal = false"></app-visit>