.style-section {
  margin-top: 20px;
  color: white;
}

.style-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px 0;
}

.tag {
  padding: 5px 12px;
  border-radius: 20px;
  background-color: #444;
  color: white;
  user-select: none;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}

.tag.readonly {
  background-color: #666;
  cursor: default;
}

.tag.selected {
  background-color: #8a8d8d;
  color: black;
}

.edit-btn {
  background: transparent;
  border: none;
  color: #aaa;
  cursor: pointer;
  margin-left: 8px;
  font-size: 1.1rem;
  transition: color 0.2s ease;
}

.edit-btn:hover {
  color: #fff;
}
.save-btn,
.cancel-btn {
  padding: 6px 12px;
  margin-right: 10px;
  border: none;
  border-radius: 6px;
  background-color: #ccc;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s;
}
