 <div class="style-section">
  <strong>Style:</strong>

  <div class="style-tags">
    <ng-container *ngIf="!editStyleMode">
      <span
        *ngFor="let style of styles"
        class="tag readonly selected">
        {{ style.name }}
      </span>
    </ng-container>

    <ng-container *ngIf="editStyleMode">
      <span
        *ngFor="let style of allStyles"
        class="tag"
        [class.selected]="selectedStyleIds.includes(style.id)"
        (click)="toggleStyle(style.id)">
        {{ style.name }}
      </span>
    </ng-container>
  </div>

  <div class="edit-actions">
    <button *ngIf="!editStyleMode" class="edit-btn" (click)="startEditStyle()">Edytuj</button>
    <div *ngIf="editStyleMode">
      <button class="save-btn" (click)="saveStyles()">Zapisz</button>
      <button class="cancel-btn" (click)="cancelEditStyle()">Anuluj</button>
    </div>
  </div>
</div>

