<div *ngIf="!isProfilePage">
  
  <div *ngIf="canAddReview() && !existingReview" class="review-form-wrapper">
    <button class="btn-review" (click)="showForm = !showForm">
      {{ showForm ? 'Anuluj' : 'Wystaw opinię' }}
    </button>

    <div *ngIf="showForm" class="review-form">
      <label>Ocena:</label>
      <div class="stars">
        <span *ngFor="let star of [1,2,3,4,5]"
              (click)="setRate(star)"
              [class.filled]="star <= rate">
          ★
        </span>
      </div>

      <textarea [(ngModel)]="content"
                placeholder="Napisz swoją opinię..."></textarea>

      <button class="btn-submit" (click)="submitReview()">Dodaj opinię</button>
    </div>
  </div>

  <div *ngIf="existingReview" class="review-info">
    ✅ Już wystawiłeś opinię dla tej wizyty.
    <div class="review-item">
      <div class="review-header">
        <div class="review-author">{{ existingReview.clientName }}</div>
        <div class="review-rate">
          <span *ngFor="let star of [1,2,3,4,5]"
                [class.filled]="star <= existingReview.rate">
            ★
          </span>
        </div>
      </div>
      <div class="review-content">{{ existingReview.content }}</div>
      <div class="review-date">{{ existingReview.createdAt | date:'short' }}</div>
    </div>
  </div>

</div>


<div *ngIf="isProfilePage" class="reviews-wrapper">
  <div class="opinion">Opinie</div>


  <div *ngIf="reviews.length === 0" class="empty-message">
    Brak opinii.
  </div>

  <ul *ngIf="reviews.length > 0" class="review-list">
    <li *ngFor="let review of reviews | slice:0:visibleReviews" class="review-item">

      <div class="review-header">
        <div class="review-author">{{ review.clientName }}</div>

        <div class="review-rate">
          <span *ngFor="let star of [1,2,3,4,5]" [class.filled]="star <= review.rate">★</span>
        </div>
      </div>

      <p class="review-content">{{ review.content }}</p>
      <div class="review-date">{{ review.createdAt | date:'short' }}</div>

      <div class="answers" *ngIf="review.answers.length > 0">
        <div *ngFor="let ans of review.answers" class="answer">
          <strong>{{ ans.artistName }}:</strong> {{ ans.content }}
          <span class="answer-date">{{ ans.createdAt | date:'short' }}</span>
        </div>
      </div>

      <div class="answer-form" *ngIf="isOwner">
        <input type="text" [(ngModel)]="answerContent[review.id]" placeholder="Napisz odpowiedź..." />
        <button (click)="addAnswer(review.id)">Odpowiedz</button>
      </div>


    </li>
  </ul>
  <button *ngIf="visibleReviews < reviews.length" class="show-more-btn" (click)="showMore()">
    Pokaż więcej
  </button>

</div>