<h2 class="section-title">Ulubieni twórcy</h2>

<div *ngFor="let artist of favorites" class="favorite-card">
  <div class="avatar">*zdjęcie*</div>
  <div class="info" (click)="goToArtistProfile(artist.id)" style="cursor: pointer;">
    <strong>{{ artist.nickname }}</strong>
    <div>{{ artist.name }} {{ artist.surname }}</div>
    <div class="styles">dotwork realism minimalizm</div>
    <p>{{artist.description}}</p>
  </div>
  <button (click)="removeFavorite(artist.id)" class="delete-btn">
    🗑️
  </button>
</div>
