<main class="container profile-page">
  <section class="profile-header">
    <div class="profile-avatar">
      <img [src]="defaultAvatar" alt="Profilowe studia" class="avatar-img" />
    </div>

    <div class="profile-info">
      <h2 class="nickname">{{ tattooStudio.name }}</h2>
      <h3 class="owner">Właściciel: {{ tattooStudio.ownerNickname }}</h3>

      <div class="studio-address">
        <p>{{ tattooStudio.city }}</p>
        <p>{{ tattooStudio.street }} {{ tattooStudio.streetNumber }}</p>
        <p>{{ tattooStudio.postalCode }}</p>
      </div>
    </div>

    <div class="profile-actions">
      <app-work-hour-mini [studioId]="studioId" (openEditor)="showWorkHourEditor = true">
      </app-work-hour-mini>

      <div class="profile-buttons">
        <button class="button-chat" *ngIf="!isLoggedIn" [routerLink]="['/login']">
          <i class="fa-solid fa-message"></i>
        </button>

        <button class="button-chat" *ngIf="isLoggedIn && !isMember" (click)="startChatWithStudio()">
          <i class="fa-solid fa-message"></i>
        </button>

      </div>
    </div>
  </section>

  <div *ngIf="showWorkHourEditor && canEdit" class="work-hour-editor-overlay">
    <app-work-hour [studioId]="studioId"></app-work-hour>
    <button class="btn-close" (click)="showWorkHourEditor=false">✖ Zamknij</button>
  </div>

  <app-studio-schedule></app-studio-schedule>
  <section class="studio-members">
    <app-studio-member [studioId]="studioId" [users]="studioArtists" (membersUpdated)="loadMembers()">
    </app-studio-member>
  </section>


  <app-faq [currentUserRole]="currentUserRole" [studioId]="studioId"></app-faq>
</main>