.profile-page {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

.profile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1b1b1b;
  border-radius: 16px;
  padding: 1.5rem 2rem;
  color: #fff;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
  gap: 1.5rem;
}
.studio-schedules {
  margin-top: 30px;
  padding: 2rem;
  background-color: #242424;
  border-radius: 12px;
  color: #e0e0e0;
}
.studio-users-header {
  padding-top: 1px;
}

.divider {
  border: none;
  border-top: 1px solid #3a3a3a;
  margin: 1rem 0 1.5rem 0;
}

.artist-card {
  margin-bottom: 1.5rem;
  background-color: #2b2b2b;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 4px 10px rgba(0,0,0,0.45);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s;
}

.artist-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.55);
}

.artist-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.nickname {
  font-weight: bold;
  font-size: 1.25rem;
  margin: 0;
}

.artist-link {
  color: #e0e0e0;
  text-decoration: none;
  margin-left: 0.5rem;
}

.artist-link:hover {
  color: #ffcc66;
}

.artist-slots {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #2a2a2a;
  border-radius: 10px;
  border: 1px solid #3a3a3a;
  transition: all 0.3s ease;
}


.profile-avatar {
  flex-shrink: 0;
  width: 120px;
  height: 120px;
}

.avatar-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #e91e63;
}

.profile-info {
  flex: 2;
}

.nickname {
  font-size: 1.8rem;
  margin-bottom: 0.3rem;
}

.owner {
  font-size: 1rem;
  font-weight: 400;
  color: #aaa;
}

.studio-address p {
  margin: 0;
  font-size: 0.95rem;
  color: #ccc;
}

.profile-actions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.8rem;
}

.profile-buttons {
  display: flex;
  gap: 0.6rem;
}

.profile-buttons button {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: none;
  background-color: #2c2c2c;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.3s;
}

.profile-buttons button:hover {
  background-color: #e91e63;
  transform: scale(1.1);
}

.work-hour-editor-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.btn-close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  background: #e91e63;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 0.6rem 1rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .profile-header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .profile-actions {
    align-items: center;
  }
}
