<main class="container profile-page">
  <section class="profile-header">

    <div class="profile-avatar">
      <div class="profile-picture-wrapper" (click)="canEdit && fileInput.click()">
        <img [src]="previewUrl || defaultAvatar" class="profile-picture" alt="Avatar studia">
      </div>

      <input #fileInput type="file" accept="image/*" style="display: none" (change)="onFileSelected($event)" />

      <button *ngIf="selectedFile && isLoggedIn && canEdit" (click)="uploadAvatar()" class="btn2 save-btn">
        Zapisz zdjęcie
      </button>
    </div>

    <div class="profile-info">
      <div class="nickname-rating">
        <h2 class="nickname" *ngIf="tattooStudio">{{ tattooStudio.name }}</h2>
        <h2 class="rating" *ngIf="tattooStudio">★ {{ tattooStudio.averageRate | number:'1.2-2' }} ({{
          tattooStudio.reviewsCount }})</h2>
      </div>

      <h3 class="owner" *ngIf="tattooStudio">Właściciel: {{ tattooStudio.ownerNickname }}</h3>

      <div class="studio-address">
        <p *ngIf="tattooStudio">{{ tattooStudio.city }}</p>
        <p *ngIf="tattooStudio">Ul. {{ tattooStudio.street }} {{ tattooStudio.streetNumber }}</p>
        <p *ngIf="tattooStudio">{{ tattooStudio.postalCode }}</p>
      </div>
    </div>

    <div class="profile-actions">
      <app-work-hour-mini [studioId]="studioId" (openEditor)="showWorkHourEditor = true">
      </app-work-hour-mini>

      <div class="profile-buttons">
        <button class="button-chat" *ngIf="!isLoggedIn" [routerLink]="['/login']">
          <i class="fa-solid fa-message"></i>
        </button>

        <button class="button-chat" *ngIf="isLoggedIn && !isMember" (click)="startChatWithStudio()">
          <i class="fa-solid fa-message"></i>
        </button>

      </div>
    </div>
  </section>

  <div *ngIf="showWorkHourEditor && canEdit" class="work-hour-editor-overlay">
    <app-work-hour [studioId]="studioId" (closePanel)="showWorkHourEditor=false"></app-work-hour>
  </div>

  <div class="description" *ngIf="descriptionForm" [formGroup]="descriptionForm">
    <h3 class="section-title">Opis</h3>

    <ng-container *ngIf="!editing; else editTpl">
      <p class="description-text" [class.no-description]="!descriptionForm.get('description')?.value">
        {{ descriptionForm.get('description')?.value || 'Brak opisu...' }}
        <button *ngIf="canEdit" type="button" class="edit-btn" (click)="startEdit()">
          <i class="fas fa-pen"></i>
        </button>
      </p>
    </ng-container>

    <ng-template #editTpl>
      <textarea formControlName="description" rows="3" #autoResize (input)="adjustHeight(autoResize)"
        placeholder="Wpisz swój opis..."></textarea>

      <div class="error" *ngIf="
      descriptionForm.get('description')?.touched &&
      descriptionForm.get('description')?.hasError('maxlength')">
        Opis nie może mieć więcej niż 1000 znaków.
      </div>

      <div class="btn-row">
        <button type="button" class="btn2 saveDesc-btn" (click)="saveDescription()">Zapisz</button>
        <button type="button" class="btn2 cancel-btn" (click)="cancelEdit()">Anuluj</button>
      </div>
    </ng-template>
  </div>
  <ng-container *ngIf="studioId">

    <app-tattoo-studio-offer [currentUserRole]="currentUserRole" [studioId]="studioId"></app-tattoo-studio-offer>
  </ng-container>
  <section class="studio-members">
    <app-studio-member [studioId]="studioId" [users]="studioArtists" (membersUpdated)="loadMembers()">
    </app-studio-member>
  </section>

  <section class="studio-users studio-schedules">
    <div class="studio-users-header">
      <h2>Terminy tatuatorów</h2>
    </div>

    <hr class="divider" />

    <div *ngIf="studioArtists.length > 0; else noArtists">
      <div *ngFor="let artist of studioArtists" class="user-wrapper">
        <div class="user-card artist-card" [class.expanded]="artist.showSlots">
          <div class="user-header artist-header" (click)="artist.showSlots = !artist.showSlots">
            <h3 class="nickname">
              <i class="fa-solid" [ngClass]="artist.showSlots ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
              <a [routerLink]="['/profile', artist.id]" class="artist-link">{{ artist.nickname }}</a>
            </h3>
          </div>

          <div *ngIf="artist.showSlots" class="artist-slots">
            <app-artist-date [userId]="artist.id" [studioId]="studioId" [isOwner]="artist.id === currentUserId"
              [isLoggedIn]="isLoggedIn">
            </app-artist-date>
          </div>
        </div>
      </div>
    </div>

    <!-- <app-tattoo-studio-visit [studioId]="studioId"></app-tattoo-studio-visit> !-->


    <ng-template #noArtists>
      <p>Brak artystów przypisanych do studia.</p>
    </ng-template>
  </section>

  <app-faq [currentUserRole]="currentUserRole" [studioId]="studioId">
  </app-faq>

  <app-review [studioId]="studioId" [studioRole]="currentUserRole">
  </app-review>
</main>