.tab-buttons {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;

  button {
    padding: 0.5rem 1rem;
    background: #444;
    color: white;
    border: none;
    cursor: pointer;

    &.active {
      background: #ffcc00;
      color: black;
    }
  }
}

.visit-list {
  list-style: none;
  padding: 0;
  li {
    background: #2c2c2c;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
  }
}
