<main class="container profile-page">
  <section class="profile-header">
    <div class="profile-picture-wrapper" (click)="fileInput.click()">
      <img [src]="previewUrl || defaultAvatar" class="profile-picture" alt="Avatar">
    </div>

    <input #fileInput type="file" accept="image/*" style="display: none" (change)="onFileSelected($event)" />

    <button *ngIf="selectedFile" (click)="upload()" class="btn btn-primary">
      Zapisz zdjęcie
    </button>

    <div class="profile-info">
      <h2 class="nickname">{{user.nickname}} <h2 class="rating">★ 4.5/5 (1230)</h2></h2>
      <p class="location">Miasto, ulica 123/1</p>
      <app-style [userId]="userId" [isOwner]="isOwner"></app-style>
    </div>

    <div class="profile-buttons">
      <button (click)="startChat()" class="button-chat" >💬 Wyślij wiadomość</button>
      <button (click)="addToFavorites(user.id)" class="button-fav" >❤️ Dodaj do ulubionych</button>
    </div>
  </section>

   
  <div class="description">
     <p *ngIf="!editing; else editTpl">
      {{ user.description || 'Brak opisu...' }}
      <button class="btn btn-sm edit-btn" (click)="startEdit()">
        <i class="fas fa-pen"></i>
      </button>
    </p>

    <ng-template #editTpl>
      <textarea [(ngModel)]="draftDescription" rows="3" #autoResize (input)="adjustHeight(autoResize)"></textarea>
      <button class="button-edit" (click)="saveDescription()">✔</button>
      <button class="button-edit" (click)="cancelEdit()">✖</button>
    </ng-template>
  </div>

  <app-artist-date [userId]="userId" [isOwner]="isOwner"></app-artist-date>
  <app-special-offer [userId]="userId" [isOwner]="isOwner"></app-special-offer>
  <app-portfolio [userId]="userId" [isOwner]="isOwner" ></app-portfolio>
  <app-offer [userId]="userId" [isOwner]="isOwner"></app-offer>

  <section class="reviews">
    <h3>Opinie</h3>
    <div class="review-list">
      <div class="review">
        <h4>Nickname <span class="stars">★★★★☆</span></h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
      </div>
      <div class="review">
        <h4>Nickname <span class="stars">★★★★☆</span></h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
      </div>
    </div>
  </section>
</main>