<section class="studio-users">
  <h2>Członkowie studia</h2>

  <div *ngIf="users.length > 0; else noUsers">
    <div *ngFor="let user of users" class="user-wrapper">
      <div class="user-card">
        <div class="user-info">
          <p><strong>{{ user.nickname }}</strong></p>
          <p>{{ user.description || 'Brak opisu...' }}</p>
          <h2 class="rating">★ {{ user.averageRate | number:'1.2-2' }} ({{user.reviewsCount}})</h2>
        </div>

        <button class="btn-remove" (click)="removeUser(user.id)">Usuń</button>

        <div class="featured-images" *ngIf="user.featuredPictures.length > 0">
          <div class="featured-grid">
            <div class="featured-item" *ngFor="let pic of user.featuredPictures">
              <img [src]="'data:image/png;base64,' + pic.image" alt="featured tattoo" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #noUsers>
    <p>Brak członków w tym studiu.</p>
  </ng-template>

  <div class="add-user">
    <input [(ngModel)]="newUserNickname" placeholder="Podaj nick użytkownika" />
    <button (click)="addUser()">Dodaj użytkownika</button>
  </div>
</section>
