<div class="user-profile-container">
  <div class="avatar-section">
    <div class="profile-picture-wrapper" (click)="fileInput.click()">
      <img [src]="previewUrl || defaultAvatar" class="profile-picture" alt="Avatar" />
      <div class="avatar-overlay">Zmień</div>
    </div>

    <input #fileInput type="file" accept="image/*" hidden (change)="onFileSelected($event)" />

    <button *ngIf="selectedFile" (click)="upload()" class="save-avatar-btn">
      Zapisz zdjęcie
    </button>
  </div>

  <form *ngIf="userForm" [formGroup]="userForm" class="user-form">
    <div class="form-group">
      <label>Nazwa użytkownika</label>
      <input type="text" formControlName="nickname" [readonly]="!editMode" />
      <div class="error" *ngIf="nickname?.invalid && nickname?.touched">
        <small *ngIf="nickname?.errors?.['required']">Pole wymagane</small>
        <small *ngIf="nickname?.errors?.['minlength']">Min. 3 znaki</small>
        <small *ngIf="nickname?.errors?.['maxlength']">Max. 25 znaków</small>
      </div>
    </div>

    <div class="form-group">
      <label>Imię</label>
      <input type="text" formControlName="name" [readonly]="!editMode" />
    </div>

    <div class="form-group">
      <label>Nazwisko</label>
      <input type="text" formControlName="surname" [readonly]="!editMode" />
    </div>

    <div class="form-group">
      <label>E-mail</label>
      <input type="email" formControlName="email" [readonly]="!editMode" />
    </div>

    <div class="form-actions">
      <button *ngIf="!editMode" type="button" class="edit-btn" (click)="editMode = true">
        Edytuj profil
      </button>

      <ng-container *ngIf="editMode">
        <button type="button" class="save-btn" (click)="saveChanges()" [disabled]="userForm.invalid">
          Zapisz
        </button>
        <button type="button" class="cancel-btn" (click)="cancelChanges()">
          Anuluj
        </button>
      </ng-container>
    </div>
  </form>
</div>