
<div class="top-banner">
  <h1>TattooMe</h1>
</div>

<nav class="navbar">
  <ul class="nav-list">
    <li><a href="#">Studia tatuażu</a></li>
    <li><a routerLink="/tattooArtist" routerLinkActive="active">Tatuatorzy</a></li>
    <li><a routerLink="/trainee" routerLinkActive="active">Praktykanci</a></li>
    <li><a routerLink="/#" routerLinkActive="active">Warto wiedzieć</a></li>
    <li><a routerLink="/contact" routerLinkActive="active">Kontakt</a></li>
  </ul>

  <div class="navbar-right">
    <ng-container *ngIf="!authService.isLoggedIn(); else loggedIn">
      <button class="btn" (click)="onLoginClick()">Zaloguj się</button>
      <button class="btn" (click)="navigateTo('register')">Zarejestruj się</button>
    </ng-container>

    <ng-template #loggedIn>
      <a [routerLink]="['/favorites', getUserId()]" routerLinkActive="active"><i class="fa fa-heart"></i> Ulubione</a>
      <a [routerLink]="['/chats']"routerLinkActive="active">Chat</a>
      <div class="dropdown">
        <span><i class="fa fa-user"></i> {{authService.getNickname()}}</span>
       
      </div>
    </ng-template>
  </div>
</nav>

<div class="container">
  <aside class="sidebar-left">
    <ng-container *ngIf="authService.isLoggedIn()">
      <a [routerLink]="['/profile', getUserId()]" routerLinkActive="active">Twój profil</a>
      <a [routerLink]="['/#']" routerLinkActive="active">Rezerwacje</a>
    </ng-container>
  </aside>

  <main class="main-content">
    <router-outlet></router-outlet>
  </main>

  <aside class="sidebar-right">
    <ng-container *ngIf="authService.isLoggedIn()">
      <a [routerLink]="['/userProfile', getUserId()] "routerLinkActive="active">Dane użytkownika</a>
      <a [routerLink]="['/me', getUserId()]" routerLinkActive="active">Informacje o uzytkowniku</a>
      <a href="#" (click)="onLogout()">Wyloguj się</a>
    </ng-container>
  </aside>
</div>
