<nav class="navbar">
  <div class="logo">
    <h1>TattooMe</h1>
  </div>
  <ul class="nav-list">
    <li><a href="#">Studia Tatuażu</a></li>
    <li><a (click)="navigateTo('tattooArtist')">Tatuatorzy</a></li>
    <li><a (click)="navigateTo('trainee')">Praktykanci</a></li>
    <li><a href="#">Warto wiedzieć</a></li>
  
    <div class="nav-buttons">
      <button *ngIf="!authService.isLoggedIn()" (click)="onLoginClick()">Zaloguj się</button>
      <button *ngIf="!authService.isLoggedIn()" (click)="navigateTo('register')">Zarejestruj się</button>
      <button *ngIf="authService.isLoggedIn()" (click)="onLogout()">Wyloguj się</button>
    </div>
  </ul>
</nav>

<div class="search-container">
  <input
    type="text"
    class="search-input"
    placeholder="Szukaj..."
   
  />  

    <option value="">Sortuj według</option>
    <option value="rating">Ocena</option>
    <option value="opinions">Ilość opinii</option>
  
</div>


<router-outlet></router-outlet>